{% load static %}
<header>
    <h3>CMPUT404</h3>
    {% if request.user.is_authenticated %}
        <a href="{% url 'entries:stream_home' request.user.author.serial %}">Stream</a>
    {% else %}
        <a href="/">Stream</a>
    {% endif %}
    <a href="{% url 'entries:stream_home' %}">Stream</a>
    <a href="{% url 'authors:list' %}">All Authors</a>
    {% if request.user.is_authenticated and request.user.author.is_admin %}
        <a href="{% url 'adminpage:dashboard' %}">Admin</a>
    {% endif %}
    {% if request.user.is_authenticated %}
        <a href="{% url 'authors:detail' request.user.author.serial %}">Profile</a>
    {% else %}
        <a href="{% url 'login:login' %}">Log In</a>
    {% endif %}
</header>