{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>{% block title %}Admin{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="{% static 'theme.css' %}">
</head>
<body>
  <ul class="container">
    <li>
      <ul class="nav border">
        <li class="semibold text-primary">
          <a href="{% url 'adminpage:dashboard' %}">Admin</a>
        </li>
        <li><a href="{% url 'adminpage:dashboard' %}">Dashboard</a></li>
        {# <li><a href="{% url 'adminpage:reports' %}">Reports</a></li> #}
        {# <li><a href="{% url 'adminpage:settings' %}">Settings</a></li> #}
      </ul>
    </li>

    <li class="p-4">
      {% block content %}{% endblock %}
    </li>
  </ul>

</body>
</html>